#calcBody{
	position:fixed;
	font-size:18px;
	vertical-align: center;
	height:176px;
	width:136px;
}
#calcBody{
	border:2px solid #fefe66;
}
#textAreaDiv{
	position:relative;
	font-weight:bold;
	width:100%;
	height:40px;
	background-color:#01cdfe;
}
textarea{
	position:relative;
	color:#fefe66;
	background-color:#01cdfe;
	text-align: center;
	font-weight:bold;
}
#leftSide{
	width:55px;
	height:40px;
	padding:0;
	border:0;
	line-height: 40px;
}
#rightSide{
	width:55px;
	height:40px;
	left:80px;
	top:-40px;
	border:0;
	padding:0;
	line-height: 40px;
}
#operator{
	width:26px;
	height:40px;
	padding:0;
	border:0;
	left:-4px;
	line-height: 40px;
}
button{
	position:relative;
	float:left;
	color:#fefe66;
	background-color:#AD8CFF;
	width:34px;
	height:34px;
	border:1px solid #fefe66;
}